<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-200 [&>p>strong]:font-medium text-pretty order-2 md:order-1"
  >
    <p>
      Soy un joven desarrollador con un profundo interés en la tecnología y la
      innovación. El área de la tecnología siempre me ha fascinado, recuerdo que este gusto
      empezó cuando era niño y tuve la oportunidad de tener una computadora en casa, desde ese entonces
      siempre he tenido curiosidad por saber cómo funcionan las cosas y cómo podría replicarlas.
      Además que soy un gran fanático de los videojuegos, lo que me llevó a querer aprender a programar
      para poder crear mis propios juegos. Recuerdo que mi primer acercamiento a la programación fue cuándo
      tenía 8 años, cuándo en un curso de vacaciones dónde me enseñaron el programa Scratch, desde ese
      entonces tenía claro que quería aprender más sobre programación.
    </p>

    <p>
      Comencé a programar de forma más avanzada cuando tenía 14 años, durante el transcurso de mi perito,
      desde entonces, he explorado una amplia gama de tecnologías, tuve la oportunidad de trabajar con
      diversas herramientas y lenguajes. A lo largo de mi aprendizaje, he desarrollado proyectos
      interesantes en las áreas de desarrollo web, móvil y escritorio, lo que me ha permitido adquirir una valiosa experiencia.
    </p>

    <p>
      Estoy estudiando esta carrera porque me interesa seguir aprendiendo, ya tengo una base sólida,
      pero la universidad me puede brindar conocimientos más especializados y avanzados, no únicamente
      sobre lenguajes o frameworks, sino también diseño de producto, arquitectura de software, UX/UI,
      design thinking, metodologías ágiles, aspecto psicológicos y sociales de la tecnología, y por supuesto
      también otras cuestiones técnicas, como ciberseguridad, sistemas operativos, redes, cloud computing,
      cosas que me ayudarán a no ser únicamente alguien que solo haga código, si no alguien que pueda
      aportar mucho más y poder contribuir en distintas áreas de la tecnología.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/meIcon.png"
    alt="Weslly Cabrera"
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
