<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-200 [&>p>strong]:font-medium text-pretty order-2 md:order-1"
  >
    <p>
      Durante este primer mes en la universidad, he vivido muchas experiencias interesantes, lo que más me ha parecido interesante es el enfoque de la carrera, ya que no solo se enfoca en la programación, 
      también hace mucho énfasis en la parte social y psicológica de la tecnología, lo que me parece muy importante, ya que la tecnología no solo es código, también es cómo se utiliza, cómo afecta a las personas.
    </p>

    <p>
      Lo que me ha gustado mucho es que he tenido la oportunidad de conocer a muchas personas con gustos similares a los míos, lo que me ha permitido hacer amigos y conocer a personas muy interesantes,
      también he tenido la oportunidad de conocer a profesores muy buenos, que me han enseñado mucho en este corto tiempo, y que me han ayudado a entender mejor la tecnología y cómo puedo aportar en ella.
    </p>

    <p>
      Lo que más me ha motivado es saber todo lo que voy a aprender durante estos 5 años de carrera,
      además de programar, también voy a aprender sobre diseño de producto, arquitectura de software, UX/UI,
      design thinking, metodologías ágiles, aspecto psicológicos y sociales de la tecnología, y por supuesto
      también otras cuestiones técnicas, como ciberseguridad, sistemas operativos, redes, cloud computing,
      cosas que me ayudarán a no ser únicamente alguien que solo haga código, si no alguien que pueda
      aportar mucho más y poder contribuir en distintas áreas de la tecnología.
    </p>

    <p>
      Las dificultades que he tenido durante este primer mes han sido principalmente en la organización del
      tiempo, ya que he tenido que adaptarme a una nueva rutina, el tener que levantarme desde muy temprano
      para poder estar a tiempo en la universidad, tener que adaptarme a un nuevo estilo de vida, pero poco
      a poco he ido mejorando en eso. Además de clases como ciencias de la vida que me han costado bastante
      además de consumir mucho de mi tiempo.
    </p>
  </div>
</article>
